- model_class = Supplier
.content
  .page-header
    %h4=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
  = render :partial => "form"
